.page-header
  %h1= t('.title')

= simple_form_for resource,
  as: resource_name,
  url: registration_path(resource_name),
  html: { method: :put } do |f|

  = render 'devise/shared/user_form_fields', form: f, user: resource
  - if current_user.local?
    .form-group
      = f.input :current_password,
        autocomplete: 'off',
        placeholder: t('.form.current_password'),
        required: true
  .form-group
    = f.submit t('.form.submit'), class: 'btn btn-primary'
    \|
    = link_to t('.form.cancle'), root_path, class: 'btn btn-default'
- if current_user.user?
  %hr
  %h4= t('.cancel_account.ttitle')
  = t('.cancel_account.message')
  = button_to t('.cancel_account.button'), registration_path(resource_name),
    data: { confirm: t('.cancel_account.confirmation') },
    method: :delete
