.comment-container{'data-comment-id': comment.id, 'data-comments-level': level}
  .comments-author-avatar
    = users_avatar_img(comment.user)
  .comments-content
    .comments-head
      %span.comments-author-name
        = comment.user.visible_name
      %span.comments-date
        = comment.created_at.strftime(t('time.formats.default'))
      - if level < Comment::MAX_NESTING_LEVEL
        .comment-buttons
          .btn.comment-reply-button{'data-comment-id': comment.id}
            = t('.reply')
    .comments-body= comment.body
  - if level < Comment::MAX_NESTING_LEVEL
    = render 'comments/reply_form', comment: comment, test: test, level: level
  = render 'comments/list', comments: comment.comments, test: test, level: level
