.comment-container
  = simple_form_for [test, comment], remote: true do |f|
    .form-group
      = f.input :body,
        placeholder: t('.comment'),
        required: true,
        label: false
    .form-group
      = f.submit t('.submit'), class: 'btn btn-primary'

