.reply-form-container
  = simple_form_for [test, comment, Comment.new], remote: true do |f|
    = f.hidden_field :level, value: level+1
    = f.input :body, label: false
    .buttons
      = f.button :submit, t('.reply'), class: 'reply-button'
      \|
      .btn.btn-default.cancle-button= t('.cancle')
