.form-group
  = image_tag (user.avatar? ? user.avatar_url : 'default-avatar.jpg'),
    alt: t('.form.avatar'), size: '80x80'
.form-group
  = form.file_field :avatar
.form-group
  = form.input :first_name, placeholder: t('.form.first_name')
.form-group
  = form.input :last_name, placeholder: t('.form.last_name')
.form-group
  = form.input :nickname, placeholder: t('.form.nickname')
.form-group
  = form.input :email, placeholder: t('.form.email'), required: !user.twitter?
.form-group
  = form.input :date_of_birth, field_options_for_date_of_birth
.form-group
  = form.input :address, placeholder: t('.form.address')
.form-grou
  = form.input :system_language,
    include_blank: false,
    priority: User::DEFAULT_SYSTEM_LANGUAGE,
    collection: User::ALLOWED_SYSTEM_LANGUAGES
- if current_user.nil? || current_user.local?
  .form-group
    = form.input :password, autocomplete: 'off', placeholder: t('.form.password')
  .form-group
    = form.input :password_confirmation,
      autocomplete: 'off',
      placeholder: t('.form.password_confirmation')
