.panel-group.test-results-list
  - data.each do |(cat_id, cat_name), topics|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{'data-toggle': :collapse, href: "##{type}Cat#{cat_id}"}
            = cat_name
      .panel-collapse.collapse{id: "#{type}Cat#{cat_id}"}
        %ul.list-group
          - topics.each do |(topic_id, topic_name), tests|
            = render 'topics_with_tests',
              topic_id: topic_id,
              topic_name: topic_name,
              tests: tests,
              type: type
