.buttons
  - unless index.zero?
    .btn.btn-default.btnPrevious= t('.previous')
  - if index == Test::QUESTIONS_COUNT
    = form.button :submit, class: 'btn btn-primary disabled', disabled: true
  - else
    .btn.btn-default.btnNext{class: (index.zero? ? '' : 'disabled'), disabled: !index.zero?}
      = t('.next')
