.form-group
  = question.fetch('body', nil)
- 1.upto(Test::ANSWERS_COUNT) do |answer_index|
  .form-group.radio-buttons
    = radio_button_tag "test_result[answers][#{index}]",
      answer_index,
      false,
      id: "test_result_answers_#{index}_#{answer_index}",
      required: true
    = label_tag "test_result_answers_#{index}_#{answer_index}",
      (question.fetch('answers', [])[answer_index-1] || {})['body']
