%li.list-group-item.panel
  .panel-heading
    .panel-title
      %a{'data-toggle': :collapse, href: "##{type}Topic#{topic_id}"}
        = topic_name
  .panel-collapse.collapse.test-results-list{id: "#{type}Topic#{topic_id}"}
    %table.table.table-hover
      %thead
        %tr
          %th= t('.title')
          - if type == :completed
            %th= t('.correct_answers_count')
          %th
      %tbody
        - tests.each do |data|
          %tr
            %td
              = data['test_title']
            - if type == :completed
              %td
                = "#{data['correct_answers_count']}/#{Test::QUESTIONS_COUNT}"
            %td.controll-links
              = link_to t('.start'), new_test_test_result_path(test_id: data['test_id'])

