.page-header
  %h2= t('.title')

%p
  = t('.body',
    test_title: @test.title,
    correct_answers_count: @test_result.correct_answers_count,
    questions_count: Test::QUESTIONS_COUNT)
%div
  = t('.please_rate')
  .ratings.users-rating{'data-test-id': @test.id, 'data-score': @rating.score, 'data-rating-id': @rating.id}

%hr
= link_to t('.back_btn'), root_path, class: 'btn btn-default btn-sm'
\|
= link_to t('.again'), new_test_test_result_path(test_id: @test.id), class: 'btn btn-default btn-sm'
\|
= link_to t('.show'), @test, class: 'btn btn-default btn-sm'
