.page-header
  %h2= t('.page_title')

- if @progress.count_of_tests.zero?
  = t('.no_tests')
- elsif @progress.completed_tests.empty?
  = t('.have_no_completed_tests', count_of_tests: @progress.count_of_tests)
- else
  = t('.body',
    count_of_tests: @progress.count_of_tests,
    count_of_completed_tests: @progress.completed_tests.count,
    average_value_of_answers: @progress.average_value_of_answers,
    answers_count: Test::QUESTIONS_COUNT)

- if @progress.count_of_tests > 0
  %h4
    = t('.not_started_tests')
  = render 'categories', data: @progress.not_started_tests, type: :not_started

- if @progress.completed_tests.present?
  %h4
    = t('.completed_tests')
  = render 'categories', data: @progress.completed_tests, type: :completed
