.page-header
  %h2= @test.title

= render 'progress_bar'
= simple_form_for [@test, @test_result] do |f|
  =f.hidden_field :test_id, value: @test.id
  = tabs content_class: 'test-result-question-tab-content' do |c|
    - c.tab t('.description') do
      = @test.description
      = render 'question_tab_buttons', index: 0
    - 1.upto(Test::QUESTIONS_COUNT) do |i|
      - c.tab t('.question_tab_name', i: i) do
        = render 'question_tab',
          index: i,
          question: @test.questions.fetch(i.to_s, {}),
          disabled: false
        = render 'question_tab_buttons', index: i, form: f
%hr
= link_to t('.back_btn'), home_index_path, class: 'btn btn-default btn-sm'
