.like-unlike-buttons{'data-test-id': test.id}
  %span.likes-count= test.likers_count
  - if show_buttons && !current_user.owns_test?(test)
    .btn.like-btn{class: (current_user.likes?(test) ? 'hidden' : '')}
      .glyphicon.glyphicon-thumbs-up
    .btn.unlike-btn{class: (current_user.likes?(test) ? '' : 'hidden')}
      .glyphicon.glyphicon-thumbs-down
