.page-header
  %h1= t('.title')

= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f|
  = devise_error_messages!
  .form-group
    = f.input :email, placeholder: t('.form.email'), required: true
  .form-group
    = f.submit t('.form.submit'), class: 'btn btn-primary'
= render 'devise/shared/links'
