$('.average-rating').
  raty('readOnly', false).
  raty('score', <%= @test.average_rating %>).
  raty('readOnly', true);

<% if @rating.id %>
  $('.users-rating').attr('data-rating-id', <%= @rating&.id %>);
<% end %>
