.page-header
  %h2= t('.title')

- flash.each do |key, value|
  - if value
    %div{class: "flash #{key}" }
      = value
.bs-component
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.input :email, placeholder: t('.form.email'), required: true
    .form-group
      = f.input :password, placeholder: t('.form.password')
    .form-group
      = f.input :remember_me, as: :boolean
    .form-group
      = f.submit t('.form.submit'), class: 'btn btn-primary'
= render 'devise/shared/links'
