.container {
  font-size: 1.2rem;
}
body > .container {
  padding-bottom: 20px;
}
.control-label.required abbr {
  color: red;
  text-decoration: none;
}
.avatar {
  float: right;
  img {
    width: 80px;
    height: 80px;
  }
}
.flash {
  border: 1px solid;
  display: inline-block;

  &.notice {
    color: green;
  }
  &.alert {
    color: red;
  }
}
.dropdown {
  float: right;
  padding: 10px;
  .menu-icon {
    color: gray;
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    font-size: 22px;
  }
}
.radio-buttons {
  input, label {
    cursor: pointer;
  }
  label {
    padding-left: 5px;
  }
}
.btn.disabled {
  cursor: not-allowed;
}
