.tags-cloud {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 100px;
  overflow: auto;
  li {
    display: inline-block;
    a {
      display: inline-block;
      max-width: 100px;
      height: 30px;
      line-height: 25px;
      padding: 0 1em;
      border: 1px solid;
      border-radius: 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-decoration: none;
      &:hover {
        background-color: #3498db;
        border: 1px solid #3498db;
        color: #fff;
     }
    }
  }
}
