.test-result-question-tab-content {
  padding: 20px;
  .buttons {
    float: right;
  }
}
.nav-tabs .disabled {
  opacity: .65;
  cursor: not-allowed;
  background-color: #f1f1f1;
}
.panel-collapse.test-results-list {
  margin-left: 30px;
  .controll-links {
    width: 30px;
  }
}
