%nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top
  .navbar-toggler.navbar-toggler-right
    = link_to t('general.site_name'), root_path, class: 'navbar-brand'
  .menu
    .dropdown
      .menu-icon.dropdown-toggle.glyphicon.glyphicon-th-list{'aria-expanded': false, 'aria-haspopup': true, 'data-toggle': :dropdown, type: :button}
      %ul.dropdown-menu.pull-right
        - if current_user.admin?
          %li
            = link_to t('header.menu.admin'), admin_root_path
        %li
          = link_to t('header.menu.tests'), tests_path
        %li
          = link_to t('header.menu.progress'), test_results_path
        %li
          = link_to t('header.menu.settings'), edit_user_registration_path
        %li.divider{role: :separator}
        %li
          = link_to t('header.menu.logout'), destroy_user_session_path
    .avatar
      = users_avatar_img(current_user)
