.form-group
  = label_tag "test[questions][#{index}][answers][][body]",
    t('.answer', i: answer_index),
    class: 'control-label text'
  = text_field_tag "test[questions][#{index}][answers][][body]", answer.fetch('body', nil),
    placeholder: t('.answer', i: answer_index),
    class: 'form-control string',
    required: true,
    disabled: disabled
