= simple_form_for @test do |f|
  .form-group
    = f.input :topic_id,
      as: :grouped_select,
      include_blank: false,
      collection: Category.names_with_topics,
      group_method: :last
  .form-group
    = f.input :scope,
      as: :select,
      include_blank: false,
      collection: options_for_select_test_scope,
      placeholder: t('.scope')
  .form-group
    = f.input :title, placeholder: t('.title')
  .form-group
    = f.input :description, as: :text,
      input_html: { placeholder: t('.description'), rows: 3}
  .form-group
    = f.input :tag_list, as: :text
  .form-group
    = render 'questions_tabs', test: @test, disabled: false
  .form-group
    = f.button :submit, class: 'btn btn-primary'
    \|
    = render 'links', test: @test
