- if action_name == 'edit'
  = link_to t('.show'), test, class: 'btn btn-default btn-sm'
  \|
- if action_name == 'show' && test.user_id == current_user.id
  = link_to t('.edit'), edit_test_path(test), class: 'btn btn-default btn-sm'
  \|
= link_to t('.back_btn'), root_path, class: 'btn btn-default btn-sm'

- unless current_user.owns_test?(test)
  \|
  = link_to t('.start'), new_test_test_result_path(test_id: test.id), class: 'btn btn-default btn-sm'
