- if tests.blank?
  %p= t('.have_no_tests')
- else
  %table.table.table-hover
    %thead
      %tr
        %th= t('.category')
        %th= t('.topic')
        %th= t('.title')
        %th
          - if users_tests
            = t('.scope')
          - else
            = t('.author')
        %th= t('.rating')
        %th= t('.likes')
        %th
    %tbody
      - tests.each do |test|
        %tr
          %td= test.topic.category.name
          %td= test.topic.name
          %td= link_to test.title, test
          %td
            - if users_tests
              = t(".scope_names.#{test.scope}")
            - else
              = test.user.visible_name
          %td
            .ratings.average-rating{'data-score': test.average_rating}
          %td= render 'likes/buttons', test: test, show_buttons: false
          %td
            - if users_tests
              = link_to t('.edit'), edit_test_path(test)
              \|
              = link_to t('.destroy'), test, method: :delete,
                data: { confirm: t('.confirm_question') }
            - elsif (test.user_id != current_user.id)
              = link_to t('.start'), new_test_test_result_path(test_id: test.id)
  = paginate tests
