= tabs do |c|
  - 1.upto(Test::QUESTIONS_COUNT) do |i|
    - c.tab t('.question_tab_name', i: i) do
      = render 'question_fields',
        index: i,
        question: (test.questions ? test.questions.fetch(i.to_s, {}) : {}),
        disabled: disabled
