.form-group.string
  = label_tag "test[questions][#{index}][body]", t('.body'),
    class: 'control-label text'
  = text_area_tag "test[questions][#{index}][body]", question.fetch('body', nil),
    placeholder: t('.question', i: index),
    class: 'form-control string requred',
    requred: 'requred',
    'aria-required': true,
    disabled: disabled
- Test::ANSWERS_COUNT.times do |answer_index|
  = render 'answer_fields',
    answer_index: answer_index+1,
    index: index,
    answer: (question.fetch('answers', [])[answer_index] || {}),
    disabled: disabled
%h5
  = t('.correct_answer')
- 1.upto(Test::ANSWERS_COUNT) do |answer_index|
  .radio-buttons
    = radio_button_tag "test[questions][#{index}][correct_answer]",
      answer_index,
      (question.fetch('correct_answer', nil) == answer_index.to_s),
      id: "test_questions_#{index}_answers_#{answer_index}_correct_answer",
      required: true,
      disabled: disabled
    = label_tag "test[questions][#{index}][answers][#{answer_index}][correct_answer]",
      t('.answer', i: answer_index)
