.ratings-container
  %label
    = t('.average_rating')
  .ratings.average-rating{'data-score': test.average_rating}

- unless current_user.owns_test?(test)
  .ratings-container
    %label
      = t('.users_rating')
    .ratings.users-rating{'data-test-id': test.id, 'data-score': rating.score, 'data-rating-id': rating.id}
