.page-header
  %h1= @test.title
%table.table.table-bordered.table-striped
  %tbody
    %tr
      %td= t('.category')
      %td= @test.topic.category.name
    %tr
      %td= t('.topic')
      %td= @test.topic.name
    %tr
      %td= t('.created_at')
      %td= @test.created_at
    - if current_user.owns_test?(@test)
      %tr
        %td= t('.scope')
        %td= t(".scope_names.#{@test.scope}")
    - else
      %tr
        %td= t('.autdor')
        %td= @test.user.visible_name
    %tr
      %td= t('.description')
      %td= @test.description
    %tr
      %td= t('.tags')
      %td= @test.tag_list
    %tr
      %td= t('.ratings')
      %td= render 'ratings', test: @test, rating: @users_rating
    %tr
      %td= t('.likes')
      %td= render 'likes/buttons', test: @test, show_buttons: true


- if current_user.owns_test?(@test)
  = render 'questions_tabs', test: @test, disabled: true

= render 'links', test: @test
%hr
%h4= t('.coments')
= render 'comments/form', test: @test, comment: @comment
= render 'comments/list', test: @test, comments: @comments
